body{
    display: inline-block;
}
.boder-body{
    width: 582px;
}
.title-header{
    text-align: center;
    color: orange; 
    border: 6px double rgb(207, 71, 22);
}

.content-one{
    text-align: left;
}

.content-between{
    text-align: right;
    color: #fff;
    background-color: orange;
}

.content-two p{
    text-align: right;
    
}
